﻿@charset "utf-8";
/* CSS Document */

body{
	background-color: lightblue;
}

div{
	border: 1px solid black;
	background-color:#CCF;
	padding:10px;
    margin:auto;
    width:400px;
    text-align:center;
    font-size:25px;
}
